/Projects/VisualStudio/.vs/AIECG/v14/.suo
/Projects/VisualStudio/AIECG.sdf
/Projects/VisualStudio/Intro to OpenGL/Debug
/Projects/VisualStudio/Intro to OpenGL/Intro to OpenGL.vcxproj.filters
/Projects/VisualStudio/Intro to OpenGL/Intro to OpenGL.vcxproj.user
/Projects/VisualStudio/Debug
