/Projects/VisualStudio/.vs
/Projects/VisualStudio/AIECG.sdf
/Projects/VisualStudio/Debug
/Projects/VisualStudio/AIECG.VC.opendb
/Build
/Projects/VisualStudio/x64/Debug/AIECG.tlog
/Projects/VisualStudio/x64/Debug/vc140.pdb
/Projects/VisualStudio/x64/Debug/vc140.idb
/Projects/VisualStudio/x64/Debug/AIECG.log
/Projects/VisualStudio/Release
/Projects/VisualStudio/x64
/Stanford OBJ.zip
/Soulspear FBX  OBJ.zip
/glfw-3.2.zip
/GLFW3.1.2 VS2015 Compiled LIBs.zip
/*.zip
/PD Assets
/*.png
/MC Tex Packs
